<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TestConfigurationSection" type="BetaUtils.DotNetFramework.Tests.Configuration.TestConfigurationSection, BetaUtils.DotNetFramework.Tests"/>
  </configSections>
  <appSettings>
    <add key="SomeTrueBooleanValue" value="true"/>
    <add key="SomeFalseBooleanValue" value="false"/>
    <add key="SomeStringValue" value="My string value"/>
    <add key="TestNumericString" value="999,999"/>
    <add key="ValidTestInt" value="7"/>
    <add key="InvalidTestInt" value="testInt"/>
    <add key="ValidTestGuid" value="b47a8890-19cc-4a22-824a-3f1fa451fb10"/>
    <add key="InvalidTestGuid" value="testGuid"/>
    <add key="ValidTestDecimal" value="-79228162514264337593543950335.00"/>
    <add key="InvalidTestDecimal" value="testDecimal"/>
    <add key="ValidTestDouble" value="-1,7976931348623157E+308"/>
    <add key="InvalidTestDouble" value="testDouble"/>
    <add key="SomeUriValue" value="https://test.com/"/>
    
  </appSettings>
  <TestConfigurationSection sectionName ="Section name" sectionDescription ="Section description" sectionNumber="124">
  </TestConfigurationSection>
</configuration>